<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

<header>
    
    <div class="logo"><img src='/images/logo-mercado-liebre.svg' alt='logo' width="40%"></div>  
    

    <div class="buscar-productos"><input type="text" value="Buscar productos, marcas" size="30%"></div>

    <div class="lupa"><img src='/images/lupa.jpg' alt='lupa' width="4%"></div>   
    <br>
    
    
    
    <p class="compra-en-cuotas"><img src='/images/mano-pesos.jpg' alt='mano' width="4%">  Compra en cuotas y sin tarjeta de credito</p>
    

    <nav class="listas">
        <ul class="lista1" type = 'Disc'>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#"> Ayuda</a></li>
        </ul>

        <ul type = 'Disc'>
            <li><a href="#">Crea tu cuenta  <img src='/images/tarj-personal.jpg' alt='' width="4%"> </a></li>
            <li><a href="#">Ingresa  <img src='/images/ingresar.jpg' alt='' width="4%"></a></li>
            <li><a href="#">Mis compras  <img src='/images/cesta-compras.jpg' alt='' width="4%"></a></li>
        </ul>

    </nav>
    <div class="menu-hamburgesa"><img src='/images/img-menu-hamburguesa.jpg' alt='' width="25px"></div>
    
      
</header>
<div class="banner"><img src='/images/img-home-banner.jpg' alt='banner' height="70px" width="100%" margin-bottom="0px"></div> 

<main id="main">
    
    <Section class="section-ult-visita">
        <p class="titulos">Basado en tu última visita</p>
       
        <article>
        <div class="articulos">
        <img src='/images/img-cafetera-moulinex.jpg' alt='Foto de Cafetera Moulinex'width="75%">
                
                <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <strong><p class="descripcion">Cafetera Moulinex</p></strong>
                    <br></div>
        </div>
        </article>
        <br>
        
        <article>
        <div class="articulos">
        <img src='/images/img-macbook-pro-2019.jpg' alt='Foto de Mac Book Pro'width="75%">
             
                    <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$230.000</p>
                    <p class="descuento">20% off</p>
                    <strong><p class="descripcion">MacBook Pro 2019</p></strong>
                    <br></div>
        </div>
        </article>
        <br>

        <article>
        <div class="articulos">
        <img src='/images/img-samsung-galaxy-s10.jpg' alt='Foto de Mac Book Pro'width="75%">
                    
                    <div class="caja-productos"> 
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>            
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% off</p>
                    <strong><p class="descripcion">Samsung Galaxy S10</p></strong>
                    <br></div>
        </div>
    
        </article>
        <br>

        <article>
            <div class="articulos">
            <img src='/images/img-tv-samsung-smart.jpg' alt='Foto de Mac Book Pro'width="75%">
            
                    <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% off</p>
                    <strong><p class="descripcion">SmartTv Samsung 43"</p></strong>
                    <br></div>
            </div>
        </article>
        <br>
</Section>
<br>

<Section>
    <p class="titulos">Seccion de Ofertas</p>
   
    <article>
        <div class="articulos">
        <img src='/images/img-cafetera-moulinex.jpg' alt='Foto de Cafetera Moulinex'width="75%">
                
                    <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>                  
                    <p class="precios">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <strong><p class="descripcion">Cafetera Moulinex</p></strong>
                    <br></div>
        </div>
    </article>
    <br>
        
    <article>
        <div class="articulos">
        <img src='/images/img-macbook-pro-2019.jpg' alt='Foto de Mac Book Pro'width="75%">
       
                    <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$230.000</p>
                    <p class="descuento">20% off</p>
                    <strong><p class="descripcion">MacBook Pro 2019</p></strong>
                    <br></div>
        </div>
        </article>
        <br>

        <article>
        <div class="articulos">
        <img src='/images/img-samsung-galaxy-s10.jpg' alt='Foto de Mac Book Pro'width="75%">
             
                <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$70.500</p>
                    <p class="descuento">10% off</p>
                    <strong><p class="descripcion">Samsung Galaxy S10</p></strong>
                    <br></div>
        </div>
        </article>
        <br>

        <article>
        <div class="articulos">
        <img src='/images/img-tv-samsung-smart.jpg' alt='Foto de Mac Book Pro'width="75%">
             
                <div class="caja-productos">
                    <div><img src='/images/camion-circulo.jpg' alt='camion'width="30px"></div>
                    <p class="precios">$23.200</p>
                    <p class="descuento">5% off</p>
                    <strong><p class="descripcion">SmartTv Samsung 43"</p></strong>
                    <br></div>

        </div>            
        </article>
</main>  

<br>
<Footer>
    <section class="pie-de-pagina">    
    <div class="logos-pie-paginas"><img src='/images/tarjeta-credito.jpg' style="color: blue" alt='Tarjeta Credito'width="25px"></div> 
    <strong><p class="titulos-pie-de-pagina">Pagá con tarjeta o en efectivo</p></strong>
    <p class="item-pie-de-pagina">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
     <br>

    <div class="logos-pie-paginas"><img src='/images/cesta-compras.jpg' alt='compras' width="25px"></div>          
    <strong><p class="titulos-pie-de-pagina">Envío gratis desde $ 2.500</p></strong>
    <p class="item-pie-de-pagina">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    <br> 
    
    <div class="logos-pie-paginas"><img src='/images/seguridad.jpg' alt='seguridad'width="25px"></div>
    <strong><p class="titulos-pie-de-pagina">Seguridad, de principio a fin</p></strong>
    <p class="item-pie-de-pagina">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@..</p>
    </section>  
<br>             
    <strong><p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p></strong>
   
                    
                
        
            
        
        
        
    </Footer> 
       
</body>
</html>